@model List<JayFashio_PL.Models.userlocationModel>

<table class="table table-hover">

    <tr>
        <td>city</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.locuser </td>
        </tr>
    }

</table>

1